body {
    background:lightyellow;
    transition: 
    background-color 1s, font-size 1s;
    font-family: cursive;
}
img {
    max-width:100%;
}

.container {
    max-width:1100px;
    margin:0 auto;
}

header, footer, .left, .right, .center {
    border:1px solid;
    padding:20px;
}

header,footer {
    text-align:center;
}

main {
    display:flex;
    margin:10px 0;
    gap:10px;
}

.left, .right {
    width:25%;
}

.center {
    width:50%;
}

.left {
   background:lightskyblue;
    transition: background 1s;
}

.left:hover {
    background:lavenderblush;
}
/*max-width = desktop first design
min-width = mobile first design*/

@media screen and (max-width:900px) {
    body {
        background-color:royalblue;
    }

    p {
        background-color:indianred;
    }

    main {
        flex-wrap:wrap;
    }
}

    .left {
        width:100%;
    }

    .center, .right {
        width:calc(50% - 5px);
    }
/* phone styles */
@media screen and (max-width:600px) {
    body {
        background:lightgreen;
        font-size:150%;
    }

   .center, .right {
    width:100%;
   }
}