body {
    background:rgb(239, 195, 255);
    transition: 
    background-color 1s, font-size 1s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    max-width:100%;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: purple;
}

.container {
    max-width:1100px;
    margin:0 auto;
}

header, footer, .left, .right, .center {

    border:1px solid;
    padding:20px;
}

header,footer {
    text-align:center;
}

main {
    display:flex;
    margin:10px 0;
    gap:10px;
}

.left, .right {
    width:25%;
}

.center {
    width:50%;
}

.left {
   background:lightskyblue;
    transition: background 1s;
}

